<div class='basic_auth_container'>
    <h3 class="auth__title">Basic authentication{{#if isLogout}} - authorized{{/if}}</h3>
    <form class="basic_input_container">
        <div class="auth__description">{{description}}</div>
        <div class="auth_label">
            {{#unless isLogout}}
                <span class="basic_auth__label" data-sw-translate>login:</span>
                <input required placeholder="login" class="basic_auth__username auth_input" name="username" type="password"/>
            {{/unless}}
        </div>
        {{#unless isLogout}}
            <div class="auth_label">
                <span class="basic_auth__label" data-sw-translate>token:</span>
                <input required placeholder="token" class="basic_auth__password auth_input" name="password" type="password"/></label>
            </div>
        {{/unless}}
    </form>
</div>
